In [1]:
# Import basic libraries

import numpy as np
import pandas as pd

In [2]:
# Create a data frame

df = pd.DataFrame ({'age':[21,34,1,12,56],
                    'favorite_color':['blue','green','red','yellow','orange'],
                    'favorite_number':[1,7,0,5,9],
                    'name':['bob','rob','mad','baby','gran']})
df

   age favorite_color  favorite_number  name
0   21           blue                1   bob
1   34          green                7   rob
2    1            red                0   mad
3   12         yellow                5  baby
4   56         orange                9  gran

In [3]:
# Fix an index col to the data frame

df.index = df['name']

In [4]:
# .loc to return rows that match search

df.loc['rob']

age                   34
favorite_color     green
favorite_number        7
name                 rob
Name: rob, dtype: object

In [5]:
df.loc[['rob','bob']]

      age favorite_color  favorite_number name
name
rob    34          green                7  rob
bob    21           blue                1  bob

In [6]:
# .iloc returns value based on position

df.iloc[-1] #Last row

age                    56
favorite_color     orange
favorite_number         9
name                 gran
Name: gran, dtype: object

In [7]:
df.iloc[:2] # First 2 rows

      age favorite_color  favorite_number name
name
bob    21           blue                1  bob
rob    34          green                7  rob

In [8]:
df.iloc[2:] # Return rows after 2 indexes

      age favorite_color  favorite_number  name
name
mad     1            red                0   mad
baby   12         yellow                5  baby
gran   56         orange                9  gran

In [9]:
# Condition based rows

cond = df.loc[df['age'] > 30, ['favorite_color','favorite_number']] 
cond

     favorite_color  favorite_number
name
rob           green                7
gran         orange                9

In [10]:
a = pd.DataFrame({
                   'Key':['k1','k2','k1'],
                   'A':[1,2,3]
})
a

  Key  A
0  k1  1
1  k2  2
2  k1  3

In [11]:
b = pd.DataFrame({
                'Key':['k1','k2'],
                'B':[3,4]
})
b

  Key  B
0  k1  3
1  k2  4

In [12]:
e = pd.DataFrame({
                'age':[21,30],
                'lucky_number':[5,7]
})
e

   age  lucky_number
0   21             5
1   30             7

In [13]:
# Inner join based on merge function

c = a.merge(b, how='inner',on='Key')
c

  Key  A  B
0  k1  1  3
1  k1  3  3
2  k2  2  4

In [14]:
# append function

d = a.append(b)
d

  Key    A    B
0  k1  1.0  NaN
1  k2  2.0  NaN
2  k1  3.0  NaN
0  k1  NaN  3.0
1  k2  NaN  4.0

In [15]:
# join function

f = b.join(e)
f

  Key  B  age  lucky_number
0  k1  3   21             5
1  k2  4   30             7